.bgs-img{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/magicbarber-3ae8a.appspot.com/o/LocalBarberia.jpeg?alt=media&token=f5f087a7-ce0d-4629-bc81-c9e962e87e08");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.bgs-img::after{
    content: "";
    background-color:rgb(252, 249, 249);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

.bgfc-img{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/magicbarber-3ae8a.appspot.com/o/fondo%20servicios.jpg?alt=media&token=d2d55236-884c-449e-819f-077c94cb6986");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding: 1%;
}

.bgfc-img::after{
    content: "";
    background-color:rgb(252, 249, 249);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.blancoNegro{
    border-radius: 15px;
    filter: grayscale(100%);
    transition: transform .3s;
}

.blancoNegro:hover{
    filter: none;
    transform: scale(1.05);
}